/* 120/16 */
/* 20/16 */
html, body {
  height: 100%;
  background: #fafafa; }

.page-container {
  min-height: calc(100% - 6.875rem);
  margin: 0 7.5rem;
  padding-top: 60px;
  overflow: hidden; }
  @media screen and (max-width: 900px) {
    .page-container {
      margin: 0; } }

.page-header {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 10px 7.5rem;
  box-shadow: 0 5px 5px -5px #999;
  background: #fff; }
  .page-header .title {
    font-size: 1.25rem; }
  .page-header .nav-link {
    color: #555; }
  .page-header .dropdown-container {
    position: relative;
    display: none; }
    .page-header .dropdown-container .btn-dropmenu {
      font-size: 1.25rem; }
    .page-header .dropdown-container .dropdown-menu {
      margin-top: 10px;
      font-weight: normal;
      min-width: 8rem; }
  @media screen and (max-width: 900px) {
    .page-header {
      padding: 0 1.25rem; }
      .page-header .nav {
        display: none; }
      .page-header .dropdown-container {
        display: block; } }

.article {
  margin-top: 10px; }
  .article .card-title {
    font-weight: bold; }
  .article .image-warpper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; }
    .article .image-warpper .image-container {
      padding: 1px; }
      .article .image-warpper .image-container img {
        width: 100%;
        height: 100%; }
    @media screen and (max-width: 900px) {
      .article .image-warpper {
        justify-content: space-around; }
      .article .image-warpper .image-container {
        width: 33%;
        padding: 0; } }
  .article #imagePreviewer .modal-dialog {
    margin: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .article #imagePreviewer .modal-dialog img {
      max-width: 100%; }
  .article h1 {
    font-size: 1.25rem;
    padding: 10px 0;
    border-bottom: 1px solid #eee; }
  .article h2 {
    font-size: 1rem;
    padding: 5px 0; }
  .article h3 {
    font-size: 0.875rem; }
  .article .card-text {
    padding: 8px 0; }

.article-post .card-title {
  font-size: 1.5rem; }

.page-footer {
  padding: 1.875rem 0 0.625rem;
  font-size: 0.875rem;
  color: #999; }
  .page-footer .info-box {
    line-height: 1.5rem;
    text-align: center;
    margin: 0; }
    .page-footer .info-box div {
      display: inline-block; }
    .page-footer .info-box .divider {
      margin: 0 5px; }
    .page-footer .info-box .link {
      color: #555; }
    .page-footer .info-box .link:hover {
      color: #000; }
